<button type="button" class="btn btn-primary" (click)="openModal(template)">Run</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p id='RequiredLabel'>* Required</p>
      <form name="form" (ngSubmit)="modalForm.form.valid && onSubmit()" #modalForm="ngForm" novalidate>
        <div class="form-group">
          <label for="login" class="required">Name</label>
          <input 
            type="text" 
            class="form-control" 
            name="login" 
            [(ngModel)]="userData.login" 
            #login="ngModel" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && login.invalid }" 
            required />
          <div *ngIf="modalForm.submitted && login.invalid" class="invalid-feedback">
              <div *ngIf="login.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="required">Email</label>
          <input 
            type="text" 
            class="form-control" 
            name="email" 
            [(ngModel)]="userData.email" 
            #email="ngModel" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && email.invalid }" 
            required 
            email />
          <div *ngIf="modalForm.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label for="text">Message:</label>
          <textarea
            type="text" 
            class="form-control" 
            name="text" 
            [(ngModel)]="userData.text" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && text.invalid }" 
            #text="ngModel" 
            required 
            minlength="6" ></textarea>
          <div *ngIf="modalForm.submitted && text.invalid" class="invalid-feedback">
            <div *ngIf="text.errors.required">text is required</div>
            <div *ngIf="text.errors.minlength">text must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <label for="Result" class="required"><h2>{{ modalService.getCaptcha() }}</h2></label>
          <input 
            type="number" 
            class="form-control" 
            name="Result" 
            [(ngModel)]="userData.result" 
            #Result="ngModel" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && Result.invalid }" 
            required 
            Result />
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
  </div>
</ng-template>