<button type="button" class="btn btn-primary" (click)="openModal(template)">Run</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p id='RequiredLabel'>* Required</p>
      <form (ngSubmit)="onSubmit()" #modalForm="ngForm">
        <div class="form-group">
          <label for="inputName" class="required">Name</label>
          <input [(ngModel)]="name" 
                  type="text" class="form-control" 
                  id="inputName" 
                  aria-describedby="nameHelp" 
                  required 
                  minlength="4"
                  appForbiddenName="admin"
                  placeholder="Name"
                  name="login">
          <small id="nameHelp" class="form-text text-muted">First & Last name</small>
        </div>        
        <div class="form-group">
          <label for="inputEmail" class="required">Email address</label>
          <input [(ngModel)]="email" 
                  type="email" 
                  class="form-control" 
                  id="inputEmail" 
                  aria-describedby="emailHelp" 
                  required 
                  placeholder="your@domain.com"
                  name="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="inputTextArea">Message</label>
          <textarea [(ngModel)]="comments" 
                    [ngModelOptions]="{standalone: true}"
                      class="form-control" 
                      id="inputTextArea" 
                      rows="3">
          </textarea>
        </div>
        <div class="form-group">
          <label for="inputNumber"  class="required">Human or Bot</label>
          <input [(ngModel)]="userData.result" 
                  type="number" 
                  class="form-control" 
                  id="inputNumber" 
                  aria-describedby="emailHelp" 
                  required 
                  placeholder="Enter sum in digits"
                  name="captcha">
          <small id="emailHelp" class="form-text text-muted"><h2>{{ modalService.getCaptcha() }}</h2></small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!modalForm.form.valid">Submit</button>
      </form>
  </div>
</ng-template>